{% extends "base.html" %}

{% block nav %}
	<ul class="links">
	  <li class="active"><a>
	    {% if player %}
	      Your name: {{ player.username }}
	    {% else %}
	      Choose your name!
	    {% endif %}
	  </a></li>
	</ul>
	{{ block.super }}
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-{% if user.is_authenticated %}4{% else %}12{% endif %} col-12-small">
			{% if player %}
				<div class="row">
					<div class="col-12">
						<a class="button icon solid fa-sync-alt small fit" href="{% url 'clear_cookie'%}">Rename</a>
					</div>
				</div>
			{% else %}
				<form method="post" action="{% url 'index' %}">
					<div class="row">
						{% csrf_token %}
						<div class="col-6">
							{{ form.username }}
						</div>

						<div class="col-6">
							<input class="button small primary fit" type="submit" value="Register">
						</div>
					</div>
				</form>
			{% endif %}
		</div>

		{% if user.is_authenticated %}
			<div class="col-3 col-12-small">
				<button class="button small fit icon solid fa-arrow-circle-down" id="update">Update Players</button>
			</div>
			<div class="col-3 col-12-small">
				<button class="button small fit primary icon solid fa-dice" id="randomize">Randomize</button>
			</div>
			<div class="col-2 col-12-small">
				<h4>Players</h4>
				<ol id="players"></ol>
			</div>
		{% endif %}
	</div>
	{% if player %}

	<div class="row">
		<div class="col-6">
			<h3>Einstellung</h3>
			<div class="table-wrapper">
				<table>
					<thead>
						<tr>
							<th>Player</th>
							<th>Team</th>
							<th>Volk</th>
						</tr>
					</thead>
					<tbody id="setup"></tbody>
				</table>
			</div>
		</div>
		<div class="col-6">
			<h3>Ergebnis</h3>
			<div class="table-wrapper">
				<table>
					<thead>
						<tr>
							<th>Player</th>
							<th>Team</th>
							<th>Volk</th>
						</tr>
					</thead>
					<tbody id="game"></tbody>
				</table>
			</div>
		</div>
	</div>
	{% endif %}
{% endblock content %}

{% block script %}
	{{ block.super }}
	<script type="text/javascript">
		function new_setup(player) {

			row = document.createElement("tr");
			cell = document.createElement("td");
			cell.innerHTML = player["username"];
			row.append(cell)

			cell = document.createElement("td");
			cell.innerHTML = player["team"];
			row.append(cell)

			cell = document.createElement("td");
			cell.innerHTML = player["nation"];
			row.append(cell)

			row.classList.add("player-setup")
			return row;
		}

		function update_setup(players, id) {
			$(id).html("");

			players.forEach(function (value){
				$(id).append(new_setup(value))
			});
		}

		function update_setups(data) {
			update_setup(data["setup"]["players"], "#setup");
			update_setup(data["final_setup"], "#game");
		}

		// send every 5min a heartbeat to the server
		setInterval($.ajax, 5 * 60 * 1000, {url: "{% url 'ajax:heartbeat' %}", method: "GET"});

		function get_setups() {
			$.ajax({
				url: "{% url 'ajax:randomize'%}",
				method: 'GET',
			})
			.done(update_setups);
		}

		get_setups();

		{% if not user.is_authenticated %}
			setInterval(get_setups, 5 * 1000);
		{% endif %}

	</script>
	{% if user.is_authenticated %}

	<script type="text/javascript">

		function new_player(player) {

			el = document.createElement("li");
			el.classList.add("player");
			el.classList.add("selected");

			el.id = player["uuid"];
			el.setAttribute("username", player["username"]);
			el.setAttribute("team", 0);
			el.setAttribute("nation", "Random");
			el.innerHTML = player["username"];

			return el;
		}

		function update_players(players, id){
			$(id).html("")

			players.forEach(function(value) {
				$(id).append(new_player(value));
			});
		}

		function get_players(id) {
			$.ajax({
				url: "{% url 'ajax:players' %}",
				method: 'GET',
			})
			.done(function (data) {
				update_players(data["players"], id);
			});
		}

		get_players("#players");
		setInterval(get_players, 3 * 1000, "#players");

		$("#update").click(function (event) {
			get_players("#players");
		});
	</script>

	<script type="text/javascript">

		function get_game_setup() {
			setup = {}
			setup["n_teams"] = 2
			setup["players"] = $(".player.selected").map(
				function (i, val) {
					return {
						id: val.id,
						username: $(val).attr("username"),
						team: Number($(val).attr("team")),
						nation: $(val).attr("nation"),
					}
			}).get();

			return setup;
		}

		function randomize() {
			$.ajax({
				url: "{% url 'ajax:randomize'%}",
				method: 'POST',
				data: {
					json: JSON.stringify(get_game_setup())
				},
				headers: {
					"X-CSRFToken": getCookie('csrftoken'),
				},
				dataType: 'json'
			})
			.done(update_setups);
		}

		$("#randomize").click(randomize);
	</script>

	{% endif %}
{% endblock script %}
