{% extends "base.html" %}

{% block content %}
	UUID: {{ uuid }}

	{% if user.is_authenticated %}
		<a href="{% url 'admin:logout' %}?next={% url 'index' %}">Logout</a>
	{% else %}
		<a href="{% url 'admin:login' %}?next={% url 'index' %}">Login</a>
	{% endif %}


	{% if player %}

		Player: {{ player.username }}
	{% else %}
		<form method="post" action="{% url 'index' %}">
			{% csrf_token %}
			{{ form }}
			<input type="submit" value="Register">
		</form>
	{% endif %}

	<a href="{% url 'clear_cookie'%}">Clear cache</a>
{% endblock content %}
